extend layout

block content
  p
    | Have you been searching a game to play and do exercise at the same time?
    | If you like to move and have fun join the community of Zombie Cataclysm,
    | there you will find a lot players searching for ammo and supplies, running
    | from zombies and even killing them! Our game is the only app where you can
    | playing and dealing with zombies at the same time. Let's go!!!

  p
    | You can find our app in these appstores:
  p
    img(src="/images/appstore.jpg" alt="Let's play!" width=300)
block sidebar
  .widget
    img(src="/images/captura.jpeg" alt="Let's play!" width=288)
